{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<div class="container"></div>

    <div class="card-header" style="width: 600px; min-height:70px; margin: auto;">
        <h4 class="text-info" style="margin: auto; padding: 10px 0px 10px 0px;">{{annonce.titre}}</h4>
    </div>
    
    <img src="{{annonce.photo}}" style="width: 600px; height: auto;"/>
    <div class="card">
        <h5 style="font-style: italic;">{{annonce.description}}</h5>
        <p class="text-info">Prix: {{annonce.prix}} €</p>
        <br>
    </div>

    <a href="../annonces" class="btn btn-outline-primary"> Retour aux annonces </a>
{% endblock %}
