{% extends 'base.html.twig' %}
{% use "bootstrap_base_layout.html.twig" %}
{% block title %}Proposer une annonce{% endblock %}

{% block body %}
    {{ parent() }}
<h3 class="text-success">Nouvelle annonce</h3>


    {{ form(form) }}


{% endblock body %}